<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Account Statement</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Statement of Account</div>
        <div th:each="data : ${data}">
         <div th:text="${data.accountnumber}"></div>
          <div th:text="${data.date}"></div>
           <div th:text="${data.transactiontype}"></div>
            <div th:text="${data.narration}"></div>
             <div th:text="${data.amount}"></div>
              <div th:text="${data.balance}"></div>
              
              <div>Statement of Account</div>
              </div>
    </body>
</html>
